.SlotRow {
  display: inline-block;
}

/* .SlotRow:hover {
  opacity: 0.6;
} */
.dropzone {
  width: auto;
  height: 50px;
  border: 1px solid;
  background: black;
  margin-bottom: 20px;
  margin-right: 2px;
  border-radius: 50%;
}
.dropzone:hover + .Row {
  opacity: 0.6;
}

.hovering + .Row {
  opacity: 0.6;
  cursor: none;
}
